/* body {
    background: #ff84a1;
    color: #3a3e59;
    font-family: 'Raleway', Arial, sans-serif;
  } */
  p {
    text-align: center;
    opacity: 0.3;
    transition: 0.3s;
    position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  p:hover {
    opacity: 1;
  }
  .receipt {
    max-width: 400px;
    margin: 5vh auto 0 auto;
  }
  .receipt_hoverable {
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .receipt_hoverable:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
  .header {
    width: 100%;
  }
  .header__top {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
  .header__logo {
    width: 10%;
    padding: 30px;
  }
  .header__meta {
    position: relative;
    text-align: center;
    width: 90%;
    height: 100%;
    /* margin-left: 15px; */
    line-height: 1.7rem;
    opacity: 0.3;
    padding: 30px;

  }
  .header__serial {
    display: block;
  }
  .header__number {
    position: absolute;
    top: 7.5px;
    right: 0;
    transform: rotate(270deg);
    opacity: 0.2;
  }
  .header__greeting {
    clear: both;
  }
  .header__greeting {
    position: relative;
    background: white;
    padding: 0 15px;
    padding-left: 30px;
  }
  .header__name {
    display: block;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 7.5px;
  }
  .header__count {
    opacity: 0.4;
    font-size: 90%;
  }
  .header__border {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #429fff;
  }
  .header__spacing {
    display: block;
    background: white;
    width: 100%;
    height: 22.5px;
  }
  .cart {
    background: white;
    padding: 30px;
    padding-top: 15px;
    border-bottom: 2px dashed #ff84a1;
    border-radius: 0 0 5px 5px;
  }
  .cart__header {
    margin-top: 0;
    text-align: center;
  }
  .cart__hr {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 22.5px;
    border-bottom: 3px solid #fee469;
  }
  .list {
    margin: 0;
    padding: 0;
    counter-reset: item-counter;
  }
  .list__item {
    display: flex;
    width: 100%;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  }
  .list__item:last-child {
    border-bottom: none;
  }
  .list__item:before {
    content: counter(item-counter);
    counter-increment: item-counter;
    margin-right: 15px;
  }
  .list__name {
    flex: 1;
    align-self: flex-start;
  }
  .list__price {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
  }
  .cart__total {
    display: flex;
    width: 100%;
  }
  .cart__total-label {
    margin: 0;
    flex: 1;
    text-transform: uppercase;
  }
  .cart__total-price {
    align-self: flex-end;
    font-weight: bold;
    text-align: right;
  }
  .bar-code {
    background: white;
    padding: 30px;
    border-radius: 6px 6px 4px 4px;
  }
  .button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #ff517a;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px;
    transition: 0.3s;
  }
  .button:hover {
    box-shadow: 0 2px 10px #b7002b;
  }
  .link {
    display: block;
    margin: 25px auto 15px auto;
    text-align: center;
  }

  /* _____ */

  .meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  }

  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }