
  .Profile-name {
    font-size: 40px;
    font-weight: 300;
  }
  
  .Profile-line {
    border-color: var(--grey);
  }
  
  .Profile-subContainer {
    flex-grow: 1;
    flex-basis: 0;
  }

  .Profile-statsContainer {
    flex-grow: 1;
    flex-basis: 0;
  }

  .Profile-substatsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Profile-subContainer + .Profile-subContainer {
    margin-left: var(--m);
  }

    
  .Profile-description {
    font-weight: 300;
    font-size: 18px;
    margin: var(--m) var(--s);
  }

  .Profile-statsTitle {
    font-weight: 300;
    font-size: 24px;
    margin: var(--m) var(--s);
  }
  
  .Profile-subTitle {
    font-weight: 300;
    font-size: 27px;
    margin: var(--m) var(--s);
  }
  
  /* html,
  body#profile { 
      background: url(/client/dist/imgs/watercolor-background-eventsmall.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    } */